<div class="main__section white">
	
	<div class="grid-construct">

		<div class="about">
			<%= partial("partials/heading", :locals => { :title => "Services", 
				:copy => "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae eos provident ducimus voluptates corporis obcaecati blanditiis vero earum necessitatibus adipisci, beatae expedita modi facere quam, soluta illum error sit non." }) %>
		</div>

	</div>

</div>