<div class="main__section white">
	
	<div class="grid-construct">

		<div class="about">
			<%= partial("partials/heading", :locals => { :title => "Expertise", 
				:copy => "
					I build Wordpress and Squarespace websites - large and small.
					I would like to meet with you in person to share ideas and feedback about your project.
					I believe that efficient communication leads to a successful product.
					" }) %>
		</div>

	</div>

</div>