<div class="main__section bio">
	
	<div class="grid-construct">
		
		<div class="bio-img">
			<%= image_tag 'me.png', :class => 'me no-lg' %>		
		</div>

		<div class="bio-text">
			<p>
				Hi, I am Paul! I'm a web developer based in Silicon Valley, California.
				My experience ranges from small design agencies and tiny startups, to larger firms.
			</p>
			<a href="mailto:maltsevp@gmail.com">
				<button class="btn btn--white">Hire Me</button>
			</a>
		</div>

		<div class="bio-img">
			<%= image_tag 'me.png', :class => 'me lg' %>		
		</div>
	</div>

</div>