<div class="main__section green">
	
	<div class="grid-construct">
		<div class="bio-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos minus, deserunt, quam magnam quo tenetur maxime excepturi, ex, impedit fuga pariatur! Obcaecati accusantium suscipit delectus, ullam distinctio mollitia blanditiis velit.</p>
		</div>

		<div class="bio-img">
			<%= image_tag 'http://lorempixel.com/300/300', :class => 'me' %>		
		</div>
	</div>

</div>