<form class="email-form">
  <input type="email" class="sender" name="email" placeholder="Your email">
  <textarea name="message" rows="5" class="msg" placeholder="Your message"></textarea>
  <button class="btn email-btn send-email" type="submit">Send</button>
</form>