<form class="email-form">
  <input type="email" class="sender" name="email" placeholder="Your email">
  <textarea name="message" rows="5" class="msg" placeholder="Speak to me in Russian, Greek or English"></textarea>
  <button class="btn btn--blue email-btn send-email" type="submit">Send</button>
</form>