<div class="main__section">
	
	<div class="grid-construct">

		<div class="footer">
			<%= partial("partials/heading", :locals => { :title => "Contacts", 
				:copy => "
					Most likely I am not sitting still at the moment. 
					Probably, I am meeting clients or brainstorming in front of a whiteboard 
					how to make your website awesome.
					Therefore, to get a hold of me, call me directly at: <span class='blue'>(916) 225-0666</span>

					<p>
						Office Address: 885 N San Antonio Rd, Los Altos
					</p>
				" }) %>
		</div>

	</div>

</div>

<div class="footer-email">
	<div class="grid-construct"><%= partial("partials/email-form") %></div>
</div>