<div class="main__section white">
	
	<div class="grid-construct">

		<div class="footer">
			<h1 class="heading">Contact</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque facilis vitae at, ducimus tenetur quas suscipit sunt dignissimos! Exercitationem accusantium quibusdam, dolorum possimus sint distinctio consectetur temporibus deserunt eos cupiditate.
			</p>
		</div>

	</div>

</div>