<section class="bar">
	<div class="grid-construct">
		
		<div class="logo">
			<a href="/">
				<h2 class="heading push-l">Pavel</h2>
				<h2 class="heading push-r">Marx</h2>
			</a>
		</div>

		<div class="bar-email">
			<%= partial("partials/email-form") %>
		</div>

	</div>
</section>