.wrapper{
	width:100%;
	overflow: hidden;
}

.main {
	@include breakpoint($breakpoint-lg) {
		margin-left: 280px;
	}

	&__section {
		padding: 40px;
		&.no-p{
			padding-left: 0;
			padding-right: 0;
		}
	}
}